<div class="layout-container">
  <div class="gallery">
    @if (photos$().length > 0) {
      @for (photo of photos$(); track photo.id) {
        <app-image-card [url]="['photo', photo.id]"
                        [imageSrc]="photo.urls.small"
                        [alt]="photo.alternative_slugs?.[currentLanguage$()] ?? photo.alt_description">
          <p class="center-icon-text">
            <mat-icon inline>favorite</mat-icon>
            {{ photo.likes }} {{ 'card.likes' | translate }}
          </p>
        </app-image-card>
      }
    }
  </div>
</div>
