<div class="layout-container">
  <mat-paginator
    [length]="totalItems$()"
    [pageIndex]="pageIndex$()"
    [pageSize]="pageSize$()"
    [pageSizeOptions]="[6, 9, 12]"
    (page)="pageChangeEvent($event)"
    aria-label="collections page">
  </mat-paginator>

  <div class="gallery">
    @if (collections$().length > 0) {
      @for (collection of collections$(); track collection.id) {
        <app-image-card [url]="['collection', collection.id]"
                        [imageSrc]="collection.cover_photo.urls.small"
                        [alt]="collection.cover_photo.description || ''">
          <p class="title">{{ collection.title }}</p>
        </app-image-card>
      }
    }
  </div>
</div>
