@use '@angular/material' as mat;

.mat-app-background {
  background-color: #e3e3e3;
}

.mat-toolbar {
  span,
  button {
    margin: 0 1rem 0 0;
  }
}

.content {
  a {
    cursor: pointer;
    text-decoration: none;
  }

  span {
    color: initial;
  }
}

.breadcrumbs {
  background-color: rgb(7 174 197 / 20%);

  a {
    padding: 0 16px;
    line-height: 36px;
    cursor: pointer;
    text-decoration: none;

    &.active {
      span {
        cursor: initial;
        font-weight: 500;
      }
    }

    span {
      color: #4d4d4d;
    }
  }
}

.gallery {
  scrollbar-gutter: stable;
  max-width: 86vw;
  margin: 0 auto;
  padding: 12px;
  place-content: center;

  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
  flex-direction: row;

  .gallery-item {
    height: 640px;
    width: 400px;
    max-height: 70vh;
    border-radius: 12px;
    background-color: #fafafa;
    cursor: pointer;

    .image-container {
      overflow: hidden;
      height: 100%;
      position: static;

      > img {
        height: 100%;
        object-fit: cover;
        position: static!important;
      }
    }

    .card-content {
      min-height: 2rem;
      display: flex;
      align-items: center;
      padding-top: 1rem
    }

    @include mat.elevation-transition();
    @include mat.elevation(2);

    &:hover {
      @include mat.elevation(8);
    }
  }

  .center-icon-text {
    line-height: normal;
    display: flex;
    gap: 12px;
  }
}

@media (max-width: 959.98px) {
  .gallery {
    .gallery-item {
      height: 500px;
      width: 250px;
    }
  }
}

@media (max-width: 599.98px) {
  .gallery {
    .gallery-item {
      height: 400px;
      width: 300px;
    }
  }
}
