<div class="layout-container">
  <div class="gallery" style="height: 80vh">
    @if (photo$(); as photo) {
      <mat-card class="preview" style="height: 100%; width: 100%">
        <mat-card-header>
          <img mat-card-avatar [ngSrc]="photo.user.profile_image.medium" alt="" height="40" width="40"
               style="object-fit: cover" />
          <mat-card-title>{{ photo.user.first_name }} {{ photo.user.last_name }}</mat-card-title>
          @if(photo.user.location){
            <mat-card-subtitle>
              <mat-icon inline>where_to_vote</mat-icon>
              {{ photo.user.location }}
            </mat-card-subtitle>
          }
        </mat-card-header>

        <mat-card-content>
          <div>
            <div>
              <p>{{ photo.description | titlecase }}</p>
            </div>
            <p class="center-icon-text" style="justify-content: flex-end">
              <mat-icon inline>favorite</mat-icon>
              {{ photo.likes }} {{ 'card.likes' | translate}} &nbsp;|&nbsp;&nbsp;
              <mat-icon inline>visibility</mat-icon>
              {{ photo.views }} {{ 'card.views' | translate }}
            </p>
          </div>
        </mat-card-content>
        <div mat-card-image style="overflow: hidden; height: 100%">
          <img [ngSrc]="photo.urls.regular"
               [alt]="photo.alternative_slugs?.[currentLanguage$()] ?? photo.alt_description"
               style="height: 100%; object-fit: contain; position: relative; background-color: black"
               fill priority />
        </div>
          <a [href]="photo.urls.full" target="_blank" class="open-in-new" aria-label="open full sized image in new tab"><mat-icon>open_in_new</mat-icon></a>
      </mat-card>
    }
  </div>
</div>
